*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E1D1E7;
    background: white;
}

nav{
    background-color:#E2D3E9;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid black;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 0px;
}

nav ul{
    float: right;
    margin-right: 55px;
}

nav ul li a{
    color: #c175dc;
    text-decoration: none;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
   
}

label.logo{
    line-height: 125px;
    padding: 0 100px;
    
}

.checkButton{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.myCheckBox{
    display: none;
}

a:hover,a.active{
    color: #532563;
}


.Univsocial {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	width: 100%;
}

.work {
    padding: 15px 0;
    padding-bottom: 50px;
}

.work img{
    text-align: center;
    margin: 10px 10px 10px 10px;
    width: 305px;
}



h1{
    text-align: center;
    color:#532563;
    padding: 25px 0;
    font-size: 45px;
}

h3{
    text-align: center;
    color: #c175dc;
    padding: -10px -10px;
    word-spacing: 1px;
    margin: 10px 0px;
    font-size: 30px;
}

p{
    width: 475px;
    padding: -10px 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 30px;
}

p:after {
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
    }

.work h2{
    text-align: center;
    color: #151D37;
    margin: auto;
}



@media screen and (max-width:1025px) {
    .Univsocial {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        width: 100%;
        place-items: center;
    }
    

}

@media screen and (max-width:952px) {
    label.logo{
        padding-left: 10px;
        width: 10px;
        position: relative;
    }
   
  
  }
  
  @media screen and (max-width:858px) {
    .checkButton{
        display: block;
    }
  
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #E1D1E7;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
  
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
  
    nav ul li a{
        font-size: 20px;
        color: #B35CD3;
    }
  
    a:hover,a.active{
        color: #532563;
    }
  
    .myCheckBox:checked ~ ul{
        left: 0;
    }

    .Univsocial {
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        width: 100%;
        place-items: center;
    }
    
    .work {
        display: grid;
        padding: 80px 0;
        place-items: center;
    }
    
    .work img{
        text-align: center;
        margin: 10px 10px 10px 10px;
        width: 305px;
    }
    
    
    
    h1{
        text-align: center;
        color:#532563;
        padding: 25px 0;
        font-size: 45px;
    }
    
    h3{
        text-align: center;
        color: #c175dc;
        padding: -10px -10px;
        word-spacing: 1px;
        margin: 10px 0px;
        font-size: 30px;
    }
    
    p{
        width: 275px;
        padding: -10px 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        line-height: 30px;
    }
    
    p:after {
        content:'';
        display:inline-block;
        width:100%;
        vertical-align:top;
        }
    
    .work h2{
        text-align: center;
        color: #151D37;
        margin: auto;
    }
    
    
  
   
  }
  
  @media screen and (max-width:530px) {
    .Univsocial {
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        width: 100%;
    }

  }
  @media screen and (max-width:330px) {
      label.logo{
          padding-left: 10px;
          width: 10px;
          position: absolute;
      }

  }




footer {
    text-align: center;
    padding: 30px;
    background-color: white;
    color: white;
    border-top: 1px solid black;
  }

.connect{
     word-spacing: 20px;
     margin: 10px 0px;
}

a {
    color: black;

}